<!DOCTYPE html>
<html>
    <head>
        <title>Tony's Blog</title>
    </head>

    <body>
        <header>
            <h1><a href="/">Tony's Blog</a></h1> <!-- Header contains clickable title of the blog-->
        </header>

        <article>                                                 <!-- article refers to the first blog post-->
            <time><em>Published: 02.03.2021, 11:36</em></time>    <!--time-->
            <h2><a href="">Welcome to my blog!</a></h2>           <!-- h2 is blog post title-->
            <p>Here you will find information about my journey towards a tech career</p><br>
            <p><a href="http://www.ebay.co.uk/itm/252675145720">Click here to visit my online shop</a></p>
        </article>
        
        </body>
</html>